.article-header {
  position: relative;

  h1 {
    @include wrapper;
  
    font-family: "brandon-grotesque", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: $light_text_color;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1;
    margin: 0;
    left: 0;
    right: 0;
    bottom: 10%;
  }

  figcaption {
    @include small;

    background-color: darken($primary_color, 30%);
    bottom: 0;
    color: $light_text_color;
    position: absolute;
    padding: 0.5em;
    right: 0;
    opacity: 0.8;
    z-index: 1;

    a {
      @include link($light_text_color);
    }
  }
}