article {
  img {
    width: 100%;
  }

  a.button {
    @include button($primary_color, $light_text_color);
  }

  figcaption {
    @include wrapper;
    color: $light_text_color;
    background-color: $comp_base_color;
    font-style: italic;
    text-align: center;

    p {
      margin: 0;
    }
  }    

  section {
    @include wrapper;

    *:last-child {
      margin-bottom: 0;
    }
  }

  section h2:first-child {
    margin-top: 0;
  }

  ul {
    margin-top: 1em;

    li {
      margin-left: 2em;
      list-style: none;
      margin-top: 0.5em;
    }
    li:before {
      color: $primary_color;
      content: "\2192 \0020";
    }
  }

}