@mixin header($header_primary_color, $header_text_color) {
  @include wrapper;
  @include text_shadow;

  background-color: $header_primary_color;
  color: $header_text_color;

  strong {
    color: lighten($header_text_color, 10%);
  }

  h1 {
    margin: 0;
  }

  .header-nav li {
    display: inline-block;
  }

  .header-nav li a {
    @include link(lighten($header_text_color, 5%));
    margin: 0 0.6em 0 0;
  }

  .header-nav li p {
    display: none;
  }

  .header-nav li:last-child a {
    margin: 0;
  }

  .header-email-button {
    display: block;
    float: right;
  }

  .header-nav li a.button {
    @include button($comp_base_color);
  }

  .header-intro {
    margin-bottom: 1em;
  }
}

header[role="banner"] {
  @include header($primary_color, $light_text_color);
}

@media screen and (min-width: 55.5em) {
  header[role="banner"] {
    float: left;
    width: 4 * $column;
    min-height: 100%;
    position: fixed;
  
    .header-nav li, .header-email-button {
      list-style: none;
      display: block;
      float: none;
      margin-bottom: 0.25em;
    }

    .header-nav li p {
      display: block;
      color: lighten($primary_color, 20%);
      font-style: italic;
    }

    .header-email-button {
      margin-top: 1em;
    }

    .header-nav {
      li:before {
        content: "\2192 \0020";
      }

      .header-email-button:before {
        content: '';
      }
    }

    .header-inner {
      position: relative;
      display: block;
      margin-top: 50%;
    }
  }
}