---
title: Nick Pellant – About Me
---

%article
  %header.article-header
    %h1
      Who is Nick Pellant?
    %figure
      = image_tag 'http://nickpellant.com/images/about/header.jpg'
      %figcaption
        :markdown
          Photo\: [Florence Fox](http://www.florencefox.com)
