---
title: Nick Pellant – About Me
---

%article
  %header.article-header
    %h1
      Who is Nick Pellant?
    %figure
      = image_tag 'about/header-new.jpg'
      %figcaption
        :markdown
          Photo\: [Florence Fox](http://www.florencefox.com)

  %section
    :markdown
      ## Biography

      As a small child I discovered my love for problem solving. When I was five years old, my parents brought home our first family computer – it was love at first sight. I started off as most kids do with [some](http://en.wikipedia.org/wiki/List_of_video_games_from_The_Magic_School_Bus) [more](http://en.wikipedia.org/wiki/Madeline#Interactive) [casual](http://en.wikipedia.org/wiki/Logical_Journey_of_the_Zoombinis) endeavors, but as I turned eight I found myself no longer satisfied simply interacting with software – I wanted to help build it.

  %aside
    %figure
      = image_tag 'about/first-computer.jpg'
      %figcaption
        A photograph of my sister and I from the first day I ever used a computer.

  %section
    :markdown
      I began studying everything I could get my hands on. At thirteen, I registered a business with [Companies House](http://www.companieshouse.gov.uk) and launched my first startup. At fourteen I helped create and launch a European gaming platform which later would become a member of the Xbox Community Network.

      At sixteen I left school and although I had a brief bout with further education, I felt it was time to pursue my engineering ambitions full-time. I setup a small development company and began working on a number of startup ventures and working with clients. I would later find myself working in Cardiff, Paris, Bath, London, Manchester &amp; Bristol in a variety of roles, continuing to push my boundaries as both an engineer and entrepreneur.

      I now work as an independent technology consultant &amp; software architect specialising in [Ruby](http://ruby-lang.org) and [JavaScript](http://en.wikipedia.org/wiki/JavaScript).

    %a.twitter-follow-button{"data-dnt" => "true", "data-show-count" => "true", :href => "https://twitter.com/nickpellant"} Follow @nickpellant
    :javascript
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

    :markdown
      ## Public speaking

      I've spoken at a number of events in the last few years. If you have an event that you would like me to present at, please feel free to [get in touch](mailto:nick@nickpellant.com) with the details.

      ## Colophon

      This website was hand crafted using [Sublime Text](http://sublimetext.com). Webfonts are served by the folks over at [typekit](http://typekit.com) and include [Futura PT](https://typekit.com/fonts/futura-pt) (for headlines) and [Museo Slab](https://typekit.com/fonts/museo-slab) (for text). Hosting is provided by [Heroku](http://heroku.com).

      You can view the source for this site over at [Github](https://github.com/nickpellant/website).
