---
title: Nick Pellant – Skills
---

%article
  %header.article-header
    %h1.responsive-headline
      What I can do
    %figure
      = image_tag 'work/teddybear-lab.jpg'
      %figcaption
        :markdown
          Photo\: [Snugglepup](http://www.flickr.com/photos/snugglepup/)

  %section
    %aside
      :markdown
        ## Availability for work

        I am next available to take on new work from **April 2015**. Contact me if you'd like to find out how I could assist you with your project or to discuss my availability further.

      = link_to "Get in touch", "mailto:nick@nickpellant.com", class: "button"

  %section.work-skills
    :markdown
      ## Skills & Technologies
      I am a full-stack software craftsman with nearly ten years industry experience. I am a kanban and lean evangelist, championing that the creation of value is of paramount importance. I believe in disciplined outside-in BDD with carefully scoped stories that define the acceptance criteria in detail.

      I have line management and leadership skills and have previously led engineering teams of 30+ on large, long-term projects.

      My ideal greenfield language stack would currently be the following:

      * Ruby (2.2+)
      * Rails (4.2+)
      * JavaScript
      * Ember.js
      * RSpec
      * Cucumber
      * HTML/HAML
      * SASS/CSS
