---
title: Nick Pellant – Skills
---

%article
  %header.article-header
    %h1.responsive-headline
      Skills
    %figure
      = image_tag 'http://nickpellant.com/images/work/teddybear-lab.jpg'
      %figcaption
        :markdown
          Photo\: [Snugglepup](http://www.flickr.com/photos/snugglepup/)

  %section
    %aside
      :markdown
        ## Availability for work
      
        I am currently available for a limited amount of freelance work from **April 2013** onwards. Contact me if you'd like to find out how I could assist you with your project or to discuss my availability further.

      = link_to "Get in touch", "mailto:nick@nickpellant.com", class: "button"

  %section.work-skills
    :markdown
      ## Skills & Technologies

      I am a full-stack software engineer & architect with over 7 years commercial experience. I started out as a PHP and front-end developer and later moved to work with Ruby. I'm an evangelist for test-driven development and lean methodologies (i.e. Kanban).

      I have architected and developed large-scale software solutions using a variety of architecture methodologies and patterns, including service-orientated and component-based architectures.

      I have line management and leadership skills and have previously led engineering teams of 15+ on large, long-term projects.

      My ideal greenfield stack would be the following:

      * Ruby (1.9+)
      * Rails (3.2+)
      * RSpec
      * Cucumber
      * Javascript/CoffeeScript
      * HAML
      * SASS